<form  id="messageForm">
    <div class="mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="Insert E-mail" aria-describedby="email">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="message" name="message" placeholder="Insert Message" aria-describedby="message">
    </div>
    <button type="button" onclick="addMessage(messageForm)" class="btn btn-success">Send</button>
</form>
