<div class="container">
    <h1>Ingrese producto</h1>
    <form id="productForm">
        <div class="mb-3">
            <label for="name" class="form-label">Name: </label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price: </label>
            <input type="text" class="form-control" id="price" name="price" aria-describedby="price">
        </div>
        <div class="mb-3">
            <label for="photo" class="form-label">Photo: </label>
            <input type="text" class="form-control" id="photo" name="photo" aria-describedby="photo">
        </div>
        <button type="button" onclick="addProduct(productForm)" class="btn btn-primary">Cargar Productos</button>
    </form>
</div>